body {
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
    overflow: hidden;
    cursor: none;
}

.cursor {
    width: 30px;
    transition: all ease;
    position: fixed;
    top:0;
    left:0;
}

.myCursor {
    z-index: 999;
}